{%- extends "layout.html" %}

{%- block css %}
    <link rel="stylesheet" href="/static/css/faq.css">
{% endblock %}

{%- block content %}
    <main>     
      <section>
        <div class="content-wrapper-780 qa-section">
          <h2>Q&A</h2>
          <h3>機能について</h3>
          <div>
            <h4>Q：質問や配信の時間・数などは変更できますか？</h4>
            <p>現在のところ変更できません。（今後、変更できるように設定機能を追加する予定です）</p>
          </div>
          <div>
            <h4>Q：配信チャンネルを雑談チャンネル以外に変更できますか？</h4>
            <p>変更できません。</p>
          </div>
          <div>
            <h4>Q：土日や祝日も質問や配信が送信されますか？</h4>
            <p>土日と祝日は質問・配信ともに送信されません。</p>
          </div>
          <div>
            <h4>Q：質問当日中に回答しませんでした。翌日以降でも回答できますか？</h4>
            <p>回答期限は質問当日中（23:59まで）となっており、期限を過ぎた場合は回答用の画面が表示されなくなります。また次の質問があった時に、回答をお願いいたします。</p>
          </div>
          <div>
            <h4>Q：質問や配信を特定のユーザーについて行うことはできますか？</h4>
            <p>質問や配信の対象となるユーザーはランダムで選ばれるため、指定することはできません。</p>
          </div>                            
        </div>
      </section>      
    </main>
{%- endblock %}
