{%- extends "layout.html" %}

{%- block css %}
    <link rel="stylesheet" href="/static/css/howto.css">
{% endblock %}

{%- block content %}
    <main>     
      <section class="beige-color">
        <div class="content-wrapper">
          <h2>Good ＆ Newとは？</h2>
          <p>
            24時間以内に起きた「よかったこと（Good）」や「新しい発見（New）」をチームの1人ずつが発表する取り組み。<br />
            アメリカの教育学者ピーター・クライン氏がチームの活性化のために開発しました。
          </p>
          <div>
            <h3>やり方</h3>
            <ol>
              <li>3人以上10名ほどの人数のチームに分かれます。</li>
              <li>みんなの前で一人ひとりが「良かったこと（Good）」と「新しい発見（New）」を発表していきます。</li>
              <li>発表が終われば、全員で発表者に対して拍手を送ります。</li>
            </ol>
          </div>
          <div>
            <h3>実施による効果</h3>
            <div class="effect">
              <img src="static/images/effects.svg" alt="チームのコミュニケーション促進、メンバー自身がポジティブな事を考える習慣を持つ">
              <div>
                <p class="summary">
                  ポジティブな事柄・感情で<br />
                  チームのコミュニケーションを促進できる
                </p>
                <p>
                  組織やチームの活性化・アイスブレイクなどを目的として、朝礼時に実施するなど習慣的に取り入れられることが多い
                </p>
              </div>
            </div>
          </div>          
        </div>
      </section>

      
    </main>
{%- endblock %}
