<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8" />
    <title>Good and New</title>
    <meta name="description" content="Good & New をチャットツール上で簡単に実施できるアプリの紹介ページです。" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Googleフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&display=swap" rel="stylesheet">
    
    <!-- オリジナルCSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>

  <body>
    <header>
      <div class="header content-wrapper">
        <div>
          <a href="index.html" class="logo">
            <img src="static/images/good_new_icon_noBack.png" alt="アイコン" />
            <p>Good and New</p>
          </a>
        </div>                    
        <nav>
          <ul>
            <li><a href="">使い方</a></li>
            <li><a href="">Q&A</a></li>
            <li>
              <a href="" class="btn">Slackにアプリをインストールする</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="beige-color">
        <div class="content-wrapper title-section">
          <img src="static/images/good_new_icon_noBack.png" alt="アイコン" class="main-icon"/>
          <div>
            <h1>Good and New</h1>
            <p>いつものチャットに<br />コミュニケーションのきっかけを</p>
            <a href="" class="btn">Slackにアプリをインストールする</a>
          </div>
        </div>
      </section>

      <section>
        <div class="content-wrapper persona-section">
          <h2>こんな悩みはありませんか？</h2>
          <p>リモートワーク中心で、メンバー同士のコミュニケーションの機会が少ない</p>
          <div class="words">
            <div>
              <p>コミュニケーションや雑談のきっかけを作りたい</p>
              <p>しかし、そのためにまとまった時間を取ることは難しい…</p>
            </div>
            <img src="static/images/cannnotdecide_man.png" alt="悩む人" class="cannnotdecide-image">
          </div>
        </div>
      </section>
    </main>

    <h1>テストページ</h1>
    <p class="test">変わらない</p>
  </body>

</html>
