{%- extends "layout.html" %}

{%- block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{%- block content %}
    <main>
      <section class="beige-color">
        <div class="content-wrapper title-section">
          <img src="static/images/good_new_icon_noBack.png" alt="アイコン" class="main-icon"/>
          <div>
            <h1>Good and New</h1>
            <p>いつものチャットに<br />コミュニケーションのきっかけを</p>
            <a href="" class="btn">Slackにアプリをインストールする</a>
          </div>
        </div>
      </section>

      <section>
        <div class="content-wrapper persona-section">
          <h2>こんな悩みはありませんか？</h2>
          <p>リモートワーク中心で、メンバー同士のコミュニケーションの機会が少ない</p>
          <div class="words">
            <div>
              <p>コミュニケーションや雑談のきっかけを作りたい</p>
              <p>しかし、そのためにまとまった時間を取ることは難しい…</p>
            </div>
            <img src="static/images/cannnotdecide_man.png" alt="悩む人" class="cannnotdecide-image">
          </div>
        </div>
      </section>

      <section>
        <div class="content-wrapper good-new-section">
          <h2>Good ＆ Newとは？</h2>
          <p>
            24時間以内に起きた「よかったこと（Good）」や「新しい発見（New）」をチームの1人ずつが発表する取り組み。<br />
            アメリカの教育学者ピーター・クライン氏がチームの活性化のために開発しました。
          </p>
          <div>
            <h3>やり方</h3>
            <ol>
              <li>3人以上10名ほどの人数のチームに分かれます。</li>
              <li>みんなの前で一人ひとりが「良かったこと（Good）」と「新しい発見（New）」を発表していきます。</li>
              <li>発表が終われば、全員で発表者に対して拍手を送ります。</li>
            </ol>
          </div>
          <div>
            <h3>実施による効果</h3>
            <div class="effect">
              <img src="static/images/effects.svg" alt="チームのコミュニケーション促進、メンバー自身がポジティブな事を考える習慣を持つ">
              <div>
                <p class="summary">
                  ポジティブな事柄・感情で<br />
                  チームのコミュニケーションを促進できる
                </p>
                <p>
                  組織やチームの活性化・アイスブレイクなどを目的として、朝礼時に実施するなど習慣的に取り入れられることが多い
                </p>
              </div>
            </div>
          </div>          
        </div>
      </section>

      <section class="beige-color">
        <div class="content-wrapper func-section">
          <p class="sub-words">アプリの機能</p>
          <h2>Good & New をチャットツール上で簡単に実施できます</h2>
          <div class="func">
            <div>
              <img src="static/images/func1.svg" alt="Good & Newを質問する">
              <p>メンバーはチャットツール上でのアプリからの質問に対し、Good & Newを回答します。</p>
            </div>
            <div>
              <img src="static/images/func2.svg" alt="Good & Newを共有する">
              <p>毎日決まった時間に、アプリがチャットツール上にGood & Newを共有します。</p>
            </div>
            <div>
              <img src="static/images/func3.svg" alt="Good & Newにリアクションする">
              <p>共有されたGood & Newに対し、メンバーはそのままスタンプやメッセージで自由にリアクションできます。</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="content-wrapper persona-section">
          <img src="static/images/arrow.svg" alt="下矢印" class="down-arrow-image">
          <div class="words">
            <div>
              <p>対面で集まる時間を作らずに Good & New を実施できます</p>
              <p>質問や共有はアプリ側で実施するため手間がかかりません</p>
              <p>やりとりがSlack上で完結するため簡単に利用できます</p>
            </div>
            <img src="static/images/inpiration_man.png" alt="納得した人" class="inpiration-image">
          </div>
        </div>
      </section>
    </main>
{%- endblock %}
