<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8" />
    <title>Good and New</title>
    <meta name="description" content="Good & New をチャットツール上で簡単に実施できるアプリの紹介ページです。" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Googleフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&display=swap" rel="stylesheet">
    
    <!-- オリジナルCSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>

  <body>
    <header>
      <div class="header content-wrapper">
        <div>
          <a href="index.html" class="logo">
            <img src="static/images/good_new_icon_noBack.png" alt="icon" />
            <p>Good and New</p>
          </a>
        </div>                    
        <nav>
          <ul>
            <li><a href="">使い方</a></li>
            <li><a href="">Q&A</a></li>
            <li>
              <a href="" class="btn">
                Slackにアプリをインストールする
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="beige-section">
        <div class="content-wrapper">
          <img src="static/images/good_new_icon_noBack.png" alt="icon" />
          <div>
            <h1>Good and New</h1>
            <p>いつものチャットに<br />コミュニケーションのきっかけを</p>
            <a href="" class="btn">
              Slackにアプリをインストールする
            </a>
          </div>
        </div>
      </section>
    </main>

    <h1>テストページ</h1>
    <p class="test">赤色にしたい</p>
  </body>

</html>
