@charset "UTF-8";

/*-------------------------------------------
  共通レイアウト
  -------------------------------------------*/
  section {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section h1 {
    color: var(--pale-brown);
    font-size: var(--font-24px);
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  section h2 {
    color: var(--brown);
    font-size: var(--font-32px);
    font-weight: 800;
    text-align: center;
    margin-bottom: 4rem;
  }

  section h3 {
    color: var(--brown);
    font-size: var(--font-20px);
    font-weight: 500;
    margin-bottom: 1rem;
  }

/*-------------------------------------------
  タイトルセクション
  -------------------------------------------*/
  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 7.5rem 0;
  }

  .main-icon {
    width: 280px;
  }

  .title-section p {
    color: var(--brown);
    font-size: var(--font-36px);
    margin-bottom: 5rem;
  }

/*-------------------------------------------
  ペルソナセクション
  -------------------------------------------*/
  .persona-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.75rem 0;
  }

  .persona-section p {
    background-color: var(--beige);
    border-radius: 12px;
    padding: 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
  }

  .words {
    display: flex;
    gap: 50px;
  }

  .cannnotdecide-image {
    width: 145px;
  }

  .inpiration-image {
    width: 180px;
    object-fit: contain;
  }

  .down-arrow-image {
    width: 85px;
    margin-bottom: 4rem;
  }

/*-------------------------------------------
  Good&Newセクション
  -------------------------------------------*/
  .good-new-section {
    margin: 5rem 0;
  }

  .good-new-section p, .good-new-section ol {
    margin-bottom: 3rem;
  }

  .good-new-section li {
    list-style: decimal inside;
  }

  .good-new-section img {
    width: 445px;
  }

  .effect {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .summary {
    color: var(--pale-brown);
    font-size: var(--font-20px);
    font-weight: 800;
  }

/*-------------------------------------------
  アプリの機能セクション
  -------------------------------------------*/
  .func-section {
    margin: 5rem 0;
  }

  .sub-words {
    color: var(--pale-brown);
    font-size: var(--font-20px);
    font-weight: 800;
    margin-bottom: 0;
  }

  .func {
    display: flex;
    justify-content: space-around;
  }

  .func img {
    width: 230px;
    margin-bottom: 2rem;
  }

  .func p {
    width: 230px;
  }

