@charset "UTF-8";

/*-------------------------------------------
	カスタムプロパティ
  -------------------------------------------*/
  :root {
    --brown: #512916;
    --pale-brown: #B9A68E;
    --beige: #F9F5EF;
    --orange: #FFD501;
    --text-gray: #373737;

    --font-16px: 1rem;
    --font-20px: 1.25rem;
    --font-24px: 1.5rem;
    --font-32px: 2rem;
    --font-36px: 2.25rem;
  }

/*-------------------------------------------
	ベース部分
  -------------------------------------------*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
  }
  
  body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-gray);
  }

  img {
    max-width: 100%;
  }

  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--text-gray);
  }

  /* Googleフォント */
  /* .m-plus-rounded-1c-medium {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .m-plus-rounded-1c-extrabold {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-style: normal;
  } */

/*-------------------------------------------
  共通レイアウト
  -------------------------------------------*/
  .content-wrapper {
    width: 100%;
    max-width: 930px;
  }

  .beige-section {
    background-color: var(--beige);
    width: 100%;
  }

  .text-brown {
    color: var(--brown);
  }

  .text-pale-brown {
    color: var(--pale-brown);
  }

/*-------------------------------------------
  共通パーツ
  -------------------------------------------*/
.btn {
    background-color: var(--orange);
    color: var(--brown);
    border-radius: 12px;
    font-size: var(--font-20px);
    padding: 0.75rem 1.5rem;
    transition: background-color ls ease-out 200ms;
}

.btn:hover {
    opacity: 0.7;
}

/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  header {
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--pale-brown);
    font-size: var(--font-24px);
    font-weight: 800;
  }

  .logo img {
    width: 60px;
  }

  .logo:hover {
    opacity: 0.7;
  }

  .header ul {
    display: flex;
    gap: 24px;
    font-size: var(--font-20px);
  }
  
  .header li a:hover {
    opacity: 0.7;
  }